:root {
    --container-size: 1100px;
    --basic-space: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: calc(var(--container-size) + (var(--basic-space) * 2));
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
}